ul.navbar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul.navbar a {
  text-decoration: none;
  display: block;
  background-color: blue;
  color: white;
  padding: 12px;
  transform: scale(1);
  transition: transform .4s;
}

ul.navbar a:hover,
ul.navbar a:focus {
  transform: scale(1.2);
}