<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <div class="container">
      <a href="/students/new" class="btn btn-primary mt-3">添加</a>
      <table class="table text-center text-white my-2">
        <thead class="bg-primary">
          <tr>
            <th>#</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>爱好</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody class="bg-white text-dark">
          {{each students}}
          <tr>
            <td>{{$value.id}}</td>
            <td>{{$value.name}}</td>
            <td>{{$value.gender}}</td>
            <td>{{$value.age}}</td>
            <td>{{$value.hobbies}}</td>
            <td>
              <a href="/students/edit?id={{$value.id}}" class="btn btn-primary">编辑</a>
              <a href="/students/delete?id={{$value.id}}" class="btn btn-primary">删除</a>
            </td>
          </tr>
          {{/each}}
        </thobbiesy>
      </table>
    </div>
  </body>
</html>
