.cutout-text {
  height: 300px;
  background-size: 100% 100%;
  background-image: url('./mountains.jpg');
  position: relative;
}

.text {
  background: #fff;
  font-size: 48px;
  text-transform: uppercase;
  padding: 25px 37px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}
