header {
  background: #f1f1f1;
  font-size: 72px;
  text-align: center;
  width: 100%;
  height: 200px;
  line-height: 200px;
  position: fixed;
  top: 0;
  transition: 0.5s;
}

.content {
  margin-top: 250px;
  height: 1000px;
}

.content p {
  font-size: 27px;
}
